DOCTYPE(html)
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/style.css")
        title="My EJS App"

    body

        form(action="" method="post")
            label(for="title")= "Nombre del Producto:"
            input(type="text" id="title" name="title")
            label(for="price")= "Precio:"
            input(type="number" id="price" name="price")
            label(for="thumbnail")= "Thumbnail:"
            input(type="text", id="thumbnail", name="thumbnail")
            button(id="sendForm")= "Enviar Producto"

        h1="All Products"

        each product in allProducts
            ul
                li
                    p
                        strong= product.title

                li
                    p= `Price: ${product.price}`

                li
                    p= `Price: ${product.thumbnail}`

        script(src="/static/js/index.js")
